*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.containerfooter{
    max-width: 1170px;
    margin:auto;
}
.baris{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footerbawah {
    background-color: #ff1a1a;
    padding: 70px 0;
}
.footerbawah-col {
    width: 25%;
    padding: 0 15px;
}
.footerbawah-col h5{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500px;
    position: relative;
}
.footerbawah-col h5::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: yellow;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footerbawah-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footerbawah-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
} 
.footerbawah-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footerbawah-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: black;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footerbawah-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
    }
@media(max-width: 574px) {
    .footerbawah-col{
        width: 100%;
    }
}
.icons{
    display: flex;
    justify-content: space-evenly;
}